/* container */

.container {
  position: relative;
  z-index: 20;  
  border-bottom: 1px solid var(--stroke-mid);
  padding-inline: 1rem;
}

.container section {
  padding-block: var(--p-lg);
}

/* header */

.header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--gap-lg);
}

.info {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

/* tabs, biography & filmography */

.tabs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 3rem;
  color: var(--stroke-light);
}

.tabs button {
  cursor: pointer;  
}

.tabs .clicked-tab{
  color: var(--white);
  text-decoration: underline;
  text-decoration-thickness: 2.5px;
  text-underline-offset: 0.5rem;
}

.biography-wrapper {
  position: relative;
  z-index: 20;
  padding: 1rem;
  padding-bottom: calc(var(--footer-h) + 2rem);
  background-color: var(--bg-main);
  color: var(--white);
  line-height: 1.3;
  letter-spacing: 0.01rem;
}

.filmography {
  position: relative;
  z-index: 20;
  height: 100%;  
}

/* colors */

.name,
.headline {
  color: var(--white);
}

.back-icon,
.job,
.birthplace,
.age {
  color: var(--stroke-light);
}
