.backdrop {
  --mask: none;
}

.backdrop::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), var(--bg-header-footer));
}

/* container */

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 20;
  max-width: 75rem;
  height: calc(100dvh - 3rem);
  margin-top: var(--p-lg);
  margin-inline: auto;
}

.biography-filmography-desktop > div {
  border-bottom: 1px solid var(--stroke-mid);
}

/* header */

.header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--gap-lg);
  padding-inline: 1rem;
}

.thumbnail-desktop {
  display: none;
}

/* tabs, biography & filmography */

.tabs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 3rem;
  color: var(--stroke-light);
}

.tabs button {
  cursor: pointer;
}

.tabs .clicked-tab {
  color: var(--white);
  text-decoration: underline;
  text-decoration-thickness: 2.5px;
  text-underline-offset: 0.5rem;
}

.biography-filmography-mobile {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  padding-inline: 1rem;
  background-color: var(--bg-main);
  border-top: 1px solid var(--stroke-mid);
}

.biography-filmography-desktop {
  display: none;
}

.biography-wrapper {
  position: relative;
  z-index: 20;
  padding-top: 1rem;
  padding-bottom: calc(var(--footer-h) + 2rem);
  color: var(--white);
  line-height: 1.3;
  letter-spacing: 0.01rem;
}

.filmography {
  position: relative;
  z-index: 20;
}

/* colors */

.name,
.headline {
  color: var(--white);
}

.back-icon,
.job,
.birthplace,
.age {
  color: var(--stroke-light);
}

@media (width >= 66rem) {
  .backdrop {
    --mask: linear-gradient(to right, transparent, black 15%, black 85%, transparent);
  }

  .container {
    display: flex;
    flex-direction: row;
    gap: var(--gap-xl);
    padding-inline: 1rem;
    height: calc(
      100dvh - 3rem - 44px - var(--p-lg)
    ); /* 3rem for padding-top from CreditsDetailsLayout, 44px for back arrow, var(--p-lg) for container section padding-block */    
  }

  .header {
    display: flex;
    flex-direction: column;
    padding-inline: 0rem;
  }

  .thumbnail-mobile {
    display: none;
  }

  .thumbnail-desktop {
    display: inline-block;
  }

  .tabs {
    display: none;
  }

  .biography-filmography-mobile {
    display: none;
  }

  .biography-filmography-desktop {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding-inline: 0;
  }

  .biography-wrapper {
    padding-bottom: 2rem;
  }
}
