.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(var(--gap-lg), 5vw, var(--gap-xxxl));
  width: 100%;
  height: 3.125rem;
  margin-top: -100px; /* brings the icons back up after extending the footer downwards */
}

.page-info {
  display: none;
}

/* funnel  */

.modal {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: var(--gap-sm);
  width: 35%;
  /* vh for legacy reasons, dvh for mobile */
  height: calc(100vh - var(--footer-h) - 1rem);
  @supports (height: 1dvh) {
    height: calc(100dvh - var(--footer-h) - 1rem);
  }
  margin-inline: auto;
  margin-bottom: calc(var(--footer-h) + 1rem);
  border: none;
  background: transparent;
}

.modal::backdrop {
  background-color: transparent; /* get rid of slight tint from browser */
}

.modal:not([open]) {
  display: none;
}

.funnel-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-sm);
  width: 100%;
  height: 6rem;
  border-radius: var(--radius-md);
  border: 0.5px solid var(--stroke-mid);
  -webkit-backdrop-filter: blur(10px);  
  backdrop-filter: blur(10px);
  background-color: var(--bg-header-footer-trans);
  color: var(--stroke-light);
}

.funnel-select select {
  cursor: pointer;
  text-align: right;
}

.desktop-select {
  display: none;
}

/* media queries */

@media (width >= 66rem) {
  .toolbar {
    margin-top: 0;
    justify-content: space-between;
    gap: var(--gap-lg);
  }
  
  .page-info {
    display: inline-block;
    flex-grow: 1;
    color: var(--white);
  }
  
  .desktop-select {
    display: inline-block;
    border-radius: var(--radius-md);
    padding: var(--p-xs) var(--p-sm);
    background-color: var(--stroke-mid);
    color: var(--stroke-light);
    cursor: pointer;
  }
  
}
