.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-lg);
  width: 100%;
  height: 3.125rem;
  margin-top: -100px; /* brings the icons back up after extending the footer downwards */
}

.toolbar-icon-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding: var(--p-xs);
}

.toolbar-icon-wrapper.active::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3.75rem;
  height: 2.75rem;
  border-radius: 1rem;
  border: 0.5px solid var(--stroke-light);
  background-color: var(--active-icon);
}

.icon {
  z-index: 10;
  color: var(--white);
}
