.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-xs);
  width: 100%;
  height: 100vh;
  padding-inline: 1rem;
  background-color: var(--bg-main);
}

.container h1 {
  color: var(--stroke-light);
}

.container p {
  text-align: center;
  color: var(--stroke-mid);
}
