.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: calc(100vh - 8.5rem - 3.75rem); /* Subtracts header / footer height */
  padding-inline: 1rem;
  background-color: var(--bg-main);
}

