/* To increase hit target (44px) */
.favorite-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
}

.favorite-button.grid {
  padding-bottom: 0.13rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--bg-fav-circle);
}

.favorite-button__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fav-icon {
  color: var(--favorite);
}
