.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
  height: 8.5rem;
  width: 100%;
  border-bottom: 1px solid var(--stroke-mid);
  padding-top: 0.81rem;
  padding-inline: 1rem;
  text-align: center;
  background-color: var(--bg-header-footer);
}

/* .header__logo {
  line-height: 1;
  color: var(--white);
} */

.header__search-container {
  position: relative;
  height: 2.75rem;
  width: 100%;
}

.header input {
  height: 100%;
  width: 100%;
  border: 1px solid var(--stroke-light);
  padding-inline: 2.5rem;
  border-radius: 100rem; /* Large number to make sure it's always rounded */
  background-color: var(--stroke-mid);
  color: var(--white);
}

.header input::placeholder {
  color: var(--stroke-light);
}

.icon--search,
.icon--clear {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--stroke-light);
}

.icon--search {
  left: 0.88rem;
}

.icon--clear {
  right: 0.88rem;
}
