.tmdb-credit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-md);
  height: 40vh;
  border: 0.5px solid var(--bg-main);
  border-radius: var(--radius-md);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);  
  background-color: var(--bg-header-footer-trans);
  color: var(--stroke-mid);
}

.tmdb-credit p {
  text-align: center;
  color: var(--stroke-light);
}
