.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - var(--header-footer-h));
  background-color: var(--bg-main);
  padding-inline: 1rem;
}

.container h1 {
  color: var(--stroke-light);
}

.container p {
  text-align: center;
  white-space: pre-line;
  color: var(--stroke-mid);
}
