.footer {
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: var(--footer-h);
  border-top: 1px solid var(--stroke-mid);
  background-color: var(--bg-header-footer);
}
