.footer {
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* -100px / +100px below pushes the container below the viewport to show footer bleed instead of bg content during scrolling */
  bottom: -100px;
  height: calc(var(--footer-h) + 100px);
  border-top: 1px solid;
    border-image: linear-gradient(90deg, var(--stroke-mid), var(--stroke-light)) 1;
  background-color: var(--bg-header-footer);
}
