/* main details div & sections */

.details {
  padding: 1rem;
  padding-bottom: var(--footer-h);
  background-color: var(--bg-header-footer);
}

.details section {
  padding-block: var(--p-lg);
  border-bottom: 1px solid var(--stroke-mid);
}

.details section:first-of-type {
  padding-top: var(--p-xs);
}

.details section:last-of-type {
  border-bottom: 0;
  padding-bottom: 0;
}

/* back icon */

.back-icon-wrapper {
  display: flex;
  align-items: center;
  height: 2.75rem;
  margin-top: 3rem;
  padding-inline: var(--p-xs);
  padding-bottom: var(--p-sm);
}

/* header */

.header {
  display: flex;
  align-items: flex-start;
  gap: var(--gap-lg);
}

.info {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
}

.genres {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.genres li {
  margin: 0.13rem;
  border-radius: 100vw;
  padding: 0.15rem 0.55rem;
  background-color: var(--stroke-mid);
  letter-spacing: -0.01rem;
}

/* headeline & summary */

.headline {
  padding-bottom: var(--p-sm);
  letter-spacing: 0.01rem;
}

.summary {
  line-height: 1.3;
}

/* cast & crew */

.cast,
.crew {
  margin-block: 1rem;
}

.cast-info li:nth-child(odd),
.crew-info li:nth-child(odd) {
  border-radius: var(--radius-sm);
  background-color: var(--bg-main);
}

.cast-info,
.crew-info {
  list-style: none;
}

/* colors */

.title,
.genres,
.headline,
.credit-heading {
  color: var(--white);
}

.back-icon,
.year,
.directed-by,
.director,
.duration,
.summary {
  color: var(--stroke-light);
}
