.details {
  padding: 1rem;
  background-color: var(--bg-header-footer);
}

/* arrow icon */

.back-icon-wrapper {
  display: flex;
  align-items: center;
  height: 2.75rem;
  margin-top: 3rem;
  padding-inline: var(--p-xs);
  padding-bottom: var(--p-sm);
}

.back-icon {
  color: var(--stroke-light);
}

/* header */

.header {
  display: flex;
}

.media-cover {
  width: 10rem;
}

/* header info */

.info {
  padding-left: var(--p-lg);
}

.title,
.headline,
.cast-crew {
  color: var(--white);
}

.year-director,
.duration,
.genre {
  color: var(--stroke-light);
}

.genre {
  list-style: none;
}

.genre li {
  display: inline;
}
