.details {
  padding: 1rem;
  background-color: var(--bg-header-footer);
}

.details section {
  padding-block: var(--p-lg);
  border-bottom: 1px solid var(--stroke-mid);
}

.details section:first-of-type {
  padding-top: var(--p-xs);
}

.title,
.headline,
.cast-crew,
.genre {
  color: var(--white);
}

/* back icon */

.back-icon-wrapper {
  display: flex;
  align-items: center;
  height: 2.75rem;
  margin-top: 3rem;
  padding-inline: var(--p-xs);
  padding-bottom: var(--p-sm);
}

.back-icon {
  color: var(--stroke-light);
}

/* header */

.header {
  display: flex;
  align-items: flex-start;
  gap: var(--gap-lg);
}

.info {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
}

.year,
.directed-by,
.director,
.duration,
.summary {
  color: var(--stroke-light);
}

.genre {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.genre li {
  margin: 0.13rem;
  padding: 0.15rem 0.55rem;
  border-radius: 100vw;
  background-color: var(--stroke-mid);
  letter-spacing: -0.01rem;
}

.headline {
  padding-bottom: var(--p-sm);
  letter-spacing: 0.01rem;
}

.summary {
  line-height: 1.3;
}
