.container {
  display: flex;
  flex-direction: column;
  max-width: 87.5rem; /* 1400px */
  min-height: calc(100dvh - var(--header-h));
  margin-inline: auto;
}

.list-view {
  width: 100%;
  padding-inline: 1rem;
  padding-bottom: var(--p-md);
  background-color: var(--bg-main);
}

/* pages */

.pages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-lg);
  width: 100%;
  margin-top: auto;
  padding-inline: 1rem;
  padding-bottom: calc(var(--footer-h) + var(--p-md));
  color: var(--stroke-light);
}

.pages button {
  align-self: center;
  border-radius: var(--radius-sm);
  padding: var(--p-xxs) var(--p-sm);
  background-color: var(--stroke-mid);
  cursor: pointer;
}

/* media queries */

@media (width >= 66rem) {
  .container {
    margin-top: var(--footer-h);
  }

  .pages {
    padding-bottom: 1rem;
  }
}
