.grid-view {
  width: 100%;
  padding-block: var(--p-sm);
  padding-bottom: calc(var(--footer-h) + var(--p-sm));
}

.grid-view__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-sm);
  width: 100%;
  list-style: none;
}
