.container {
  display: flex;
  flex-direction: column;
  min-height: calc(100dvh - var(--header-h));
}

.grid-view {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-sm);
  width: 100%;
  padding-inline: 1rem;
  padding-top: var(--p-sm);
  padding-bottom: var(--p-sm);
  background-color: var(--bg-main);
  list-style: none;
}

.pages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-lg);
  width: 100%;
  margin-top: auto;
  padding-inline: 1rem;
  padding-bottom: calc(var(--footer-h) + var(--p-md));
  color: var(--stroke-light);
}

.pages button {
  align-self: center;
  border-radius: var(--radius-sm);
  padding: var(--p-xxs) var(--p-sm);
  background-color: var(--stroke-mid);
  cursor: pointer;
}
