.favorite-icon {
  color: var(--favorite);
}

.media-thumbnail {
  aspect-ratio: 2 / 3;
  border-radius: var(--radius-sm);
  border: 1px solid var(--stroke-mid);
  background-color: green;
}

.media-thumbnail.list {
  height: 6.38rem;
}

/* grid view */

.grid-view {
  position: relative;
}

.favorite-wrapper.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0.38rem;
  right: 0.38rem;
  padding-bottom: 0.13rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--bg-fav-circle);
}

/* list view */

.list-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8.75rem;
  border-bottom: 0.5px solid var(--stroke-mid);
}

.list-view__card {
  display: flex;
  align-items: center;
  gap: var(--gap-lg);
}

.list-view__title {
  color: var(--white);
}

.list-view__year,
.list-view__director {
  color: var(--stroke-mid);
}
